@use './Partials/mixins' as *;
@use './Partials/variables' as *;
@use './Partials/Global' as *;
.showMain{
    @include flex-box(column, flex-start);
    &__top-section{
        // position:relative;
        width:100%;
        height:100vh;
        z-index: 1;
        // background-image: url("../../Assets/Images/hero-bio.jpg");
        background: linear-gradient(rgba(50, 50, 50, 0.5),(rgba(39, 159, 189, 0.5))), 
                    url("../../Assets/Images/Photo-gallery-3.jpg")center/cover no-repeat;
        
        @include tablet{
        height:60vh; 
        }
        @include mobile{
            height:50vh;
        }
        &--albumName{
            position:absolute;
            top:30%;;
            left:20%;
            color:$white;
            font-size: 30px;
            font-weight: 450;
            @include tablet{
                font-size:40px;
                left:5%;
                top:20%;
            }
            @include mobile{
                font-size:25px;
                left:5%;
                top:25%;
            }
        }
        &--intro-words{
            position:absolute;
            top:40%;
            left:20%;;
            color:$white;
            max-width:50rem;
            font-size: 45px;
            @include tablet{
                font-size:60px;
                left:5%;
                top:25%;
            }
            @include mobile{
                font-size:35px;
                left:5%;
                top:30%;
                line-height: 3rem;
            }
        }
        &__soundcloud{
            position:absolute;
            top:50%;;
            left:50%;
            height:10rem;
            width:35%;
            @include tablet{
                top:32rem;
                left:5%;
                height:10rem;
                width:50%;
            }
            @include mobile{
                top:50%;;
                left:5%;
                height:7rem;
                width:90%;
            }
        }
        
    }
    &__show{
        @include flex-box(row, flex-start);
        padding-left: 10rem;
        &--heading{
            color:$BandSite-Black;
        }
        &__box{
            margin-top: 2rem;
            margin-left: 3rem;
            &__table{
                // @include flex-box(column, flex-start);
                &__headrow{
                    // @include flex-box(row, flex-start);
                    &--heading{
                        color: $silver;
                        padding:0 0 2rem 0;
                    }
                }
                &__datarow{
                    border-bottom: 2px solid $Mercury;
                    padding-bottom: 2rem;
                }
            }
        }
        

    }
}