@font-face {
  font-family: "AvenirNext";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "AvenirNext";
  font-weight: 400;
}

h1 {
  font-size: 60px;
  font-weight: 520;
  line-height: 68px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 68px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}

footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

textarea {
  resize: none;
}

tr {
  padding-bottom: 2rem;
}

.showMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.showMain__top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  z-index: 1;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(39, 159, 189, 0.5)), url("../../Assets/Images/Photo-gallery-3.jpg") center/cover no-repeat;
}
@media screen and (max-width: 1030px) {
  .showMain__top-section {
    height: -moz-max-content;
    height: max-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
@media screen and (max-width: 767px) {
  .showMain__top-section {
    height: -moz-max-content;
    height: max-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.showMain__top-section__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media screen and (max-width: 1030px) {
  .showMain__top-section__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.showMain__top-section__content__text {
  padding: 2rem;
  width: 50%;
}
.showMain__top-section__content__text--albumName {
  color: white;
  font-size: 30px;
  font-weight: 450;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1030px) {
  .showMain__top-section__content__text--albumName {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .showMain__top-section__content__text--albumName {
    font-size: 25px;
  }
}
.showMain__top-section__content__text--intro-words {
  color: white;
  max-width: 50rem;
  font-size: 45px;
}
@media screen and (max-width: 1030px) {
  .showMain__top-section__content__text--intro-words {
    font-size: 60px;
  }
}
@media screen and (max-width: 767px) {
  .showMain__top-section__content__text--intro-words {
    font-size: 35px;
    line-height: 3rem;
  }
}
.showMain__top-section__content__soundcloud {
  padding-top: 1rem;
  height: 10rem;
  width: 35%;
}
@media screen and (max-width: 1030px) {
  .showMain__top-section__content__soundcloud {
    height: 10rem;
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .showMain__top-section__content__soundcloud {
    height: 7rem;
    width: 90%;
  }
}
.showMain__show {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 1030px) {
  .showMain__show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 3rem 1rem;
  }
}
.showMain__show--heading {
  color: #323232;
}
.showMain__show__box {
  margin-top: 2rem;
  margin-left: 3rem;
  width: 70%;
}
@media screen and (max-width: 1030px) {
  .showMain__show__box {
    margin-left: 0rem;
    width: 90%;
  }
}
.showMain__show__box__table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.showMain__show__box__table__headrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.showMain__show__box__table__headrow--heading {
  color: #AFAFAF;
  padding: 0 0 2rem 0;
  width: 25%;
}
.showMain__show__box__table__datarow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid #AFAFAF;
  padding: 1rem 0.5rem 1rem 0.5rem;
  z-index: 2;
}
.showMain__show__box__table__datarow__date {
  width: 25%;
}
.showMain__show__box__table__datarow__venue {
  width: 25%;
}
.showMain__show__box__table__datarow__location {
  width: 25%;
}
.showMain__show__box__table__datarow__buybutton {
  background-color: #323232;
  color: #e1e1e1;
  width: 10rem;
  height: 2rem;
  font-weight: 600;
  border-radius: 5px;
}
.showMain__show__box__table__datarow__buybutton:hover {
  cursor: pointer;
  color: white;
}
.showMain__show__box__table__datarow:hover, .showMain__show__box__table .selectedOne {
  background-color: #AFAFAF;
}/*# sourceMappingURL=shows.css.map */