@font-face {
    font-family: "AvenirNext";
    src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "AvenirNext";
    src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf");
    font-weight: 600;
}

@font-face {
    font-family: "AvenirNext";
    src:  url("../../Assets/Font/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
}

