@use '_variables' as *;

@mixin flex-box($direction, $justifyContent){
    display:flex;
    flex-direction:$direction;
    justify-content: $justifyContent;
}

@mixin tablet {
    @media screen and (max-width: 1030px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}
// @mixin desktop {
//     @media screen and (min-width: 1031px) {
//         @content;
//     }
// }