@use '_variables' as *;

@mixin flex-box($direction, $justifyContent){
    display:flex;
    flex-direction:$direction;
    justify-content: $justifyContent;
}

@mixin tablet {
    @media screen and (max-width: 1030px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}