@use './_mixins' as *;
@use './_variables' as *;

.header{
    width:100%;
    background-color:$BandSite-Black;
    height:4rem;
    padding:2rem 0 0 0rem;
    @include flex-box(row, flex-start);
    // flex-wrap: wrap;
    @include mobile{
        @include flex-box(column,center);
        align-items: center;
        width:100%;
        height: fit-content;
    }
    &__company-name{
        color:silver;
        margin: 0%;
        padding-left: 2rem;
        @include mobile{
            width:13rem;
            padding:1rem;

        }
    }
    &__nav-bar ul{

        height:100%;
        @include flex-box(row, flex-start);
        @include mobile{
            @include flex-box(row, space-between);
        }
        & li{
            margin-left: 3rem;
            width: 50%;
            & a{
                align-self: center;
                z-index:5;
                font-size:22px;
                color:silver;
                text-decoration: none;
            }
        } 
    } 
}
.active-tab{
    border-bottom: 4px solid white;

}
.whitey{
    color:white;
}