@use './mixins' as *;
@use './variables' as *;

.header{
    width:100%;
    background-color:$black;
    &__company-name{
        font-weight: 300;
        color:silver;
        padding:1rem 5rem;
        margin: 0%;
    }
    @include flex-box(row, flex-start);
    flex-wrap: wrap;
    &__nav-bar ul{

        height:100%;
        @include flex-box(row, flex-start);

        & li{
            margin-left: 2rem;
            padding-top: 2.2rem;
            & a{
                align-self: center;
                z-index:5;
                font-size:22px;
                color:silver;
            }
        } 
    } 
}
.active-tab{
    border-bottom: 4px solid white;
    & a{
        color:white;
    }
}