@use './_mixins' as *;
@use './_variables' as *;

.header{
    width:100%;
    background-color:$black;
    height:4rem;
    padding:2rem 0 0 2rem;
    &__company-name{
        color:silver;
        margin: 0%;
    }
    @include flex-box(row, flex-start);
    flex-wrap: wrap;
    &__nav-bar ul{

        height:100%;
        @include flex-box(row, flex-start);

        & li{
            margin-left: 3rem;
            & a{
                align-self: center;
                z-index:5;
                font-size:22px;
                color:silver;
                text-decoration: none;
            }
        } 
    } 
}
.active-tab{
    border-bottom: 4px solid white;
    & a{
        color:white;
    }
}