$bold:bold;
$white:white;
$black:black;
$silver:#AFAFAF;
$BandSite-Black:#323232;
$Mercury:#e1e1e1;
$Albaster:#fafafa;

$tablet-breakpoint: 768px;
$mobile-breakpoint: 375px;
// $API_KEY:"46b173b5-c1d4-4189-905d-742aa79fd7d0";